In [19]:
!pip install pyomo==6.7.1

Collecting pyomo==6.7.1
  Using cached Pyomo-6.7.1-cp310-cp310-macosx_11_0_arm64.whl.metadata (7.7 kB)
Requirement already satisfied: ply in /Users/mariastoelben/Documents/04_Studium/04_X-HEC Master 2022/M2/29_data-challenge-health/care-agenda-optimisation/.venv/lib/python3.10/site-packages (from pyomo==6.7.1) (3.11)
Using cached Pyomo-6.7.1-cp310-cp310-macosx_11_0_arm64.whl (5.3 MB)
Installing collected packages: pyomo
  Attempting uninstall: pyomo
    Found existing installation: Pyomo 5.6.9
    Uninstalling Pyomo-5.6.9:
      Successfully uninstalled Pyomo-5.6.9
Successfully installed pyomo-6.7.1

In [1]:
from pathlib import Path

import pandas as pd

/var/folders/y_/2nw1qxt94ydbkmv5qzg8p4080000gn/T/ipykernel_89447/2396336742.py:3: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
excel_file = Path("../data/ChallengeXHEC23022024.xlsx")

In [3]:
schedule = pd.read_excel(excel_file, sheet_name=0)
clients = pd.read_excel(excel_file, sheet_name=1)
caregivers = pd.read_excel(excel_file, sheet_name=2)

In [4]:
schedule.Prestation.unique()

array(['REPAS', 'TOILETTE', 'VIE SOCIALE', 'AIDE MENAGERE',
       'ADMINISTRATION', 'ACCOMPAGNEMENTS COURSES PA', 'FEMME DE MENAGE',
       'VISITE MEDICALE', 'FORMATION', "GARDE D'ENFANTS", 'COORDINATION',
       'HOMMES TOUTES MAINS'], dtype=object)

In [5]:
discard_list = [
    "ADMINISTRATION",
    "VISITE MEDICALE",
    "FORMATION",
    "COORDINATION",
    "HOMMES TOUTES MAINS",
]

In [6]:
sched_one_day = schedule.loc[schedule.Date == "2024-01-03", :]

In [7]:
sched_one_day.Prestation.value_counts()

Prestation
TOILETTE                      41
REPAS                         25
AIDE MENAGERE                 14
ACCOMPAGNEMENTS COURSES PA     4
ADMINISTRATION                 3
VIE SOCIALE                    3
Name: count, dtype: int64

In [8]:
sched_one_day = sched_one_day[~sched_one_day.Prestation.isin(discard_list)]

In [9]:
sched_one_day["idx"] = sched_one_day.index

In [10]:
from datetime import datetime

common_date = sched_one_day["Date"].iloc[0]
sched_one_day["Heure de fin"] = sched_one_day["Heure de fin"].apply(
    lambda x: datetime.combine(common_date, x)
)
sched_one_day["Heure de début"] = sched_one_day["Heure de début"].apply(
    lambda x: datetime.combine(common_date, x)
)
sched_one_day["Duration"] = (
    sched_one_day["Heure de fin"] - sched_one_day["Heure de début"]
)
sched_one_day["Duration"] = sched_one_day["Duration"].apply(
    lambda x: x.seconds // 60
)

In [11]:
sched_one_day

,ID Client,ID Intervenant,Date,Heure de début,Heure de fin,Prestation,idx,Duration
177,522099746,162858075,2024-01-03,2024-01-03 07:30:00,2024-01-03 08:30:00,TOILETTE,177,60
178,87852633,776399834,2024-01-03,2024-01-03 07:30:00,2024-01-03 08:15:00,TOILETTE,178,45
179,559277088,842621873,2024-01-03,2024-01-03 07:45:00,2024-01-03 08:15:00,TOILETTE,179,30
180,315244686,810259688,2024-01-03,2024-01-03 08:00:00,2024-01-03 08:45:00,TOILETTE,180,45
181,714782168,710283561,2024-01-03,2024-01-03 08:00:00,2024-01-03 09:00:00,TOILETTE,181,60
...,...,...,...,...,...,...,...,...
262,794098228,78005437,2024-01-03,2024-01-03 18:55:00,2024-01-03 19:55:00,REPAS,262,60
263,559475456,838320706,2024-01-03,2024-01-03 18:55:00,2024-01-03 19:40:00,TOILETTE,263,45
264,714782168,810259688,2024-01-03,2024-01-03 18:55:00,2024-01-03 19:55:00,REPAS,264,60
265,803656603,838320706,2024-01-03,2024-01-03 19:50:00,2024-01-03 20:20:00,TOILETTE,265,30
266,315244686,838320706,2024-01-03,2024-01-03 20:35:00,2024-01-03 21:05:00,TOILETTE,266,30

In [12]:
caregivers

,ID Intervenant,Latitude,Longitude,Compétences,Permis,Véhicule personnel,Dispo / Indispo
0,838320706,48.738516,1.391971,"AIDE MENAGERE, REPAS, TOILETTE",Oui,Oui,"Indispo 01/01, 30/01, 31/01"
1,609468992,48.640555,1.232581,"TOILETTE, REPAS, VIE SOCIALE, AIDE MENAGERE",Oui,Oui,"Indispo Tous les mercredis + 13/01, 14/01, 27/..."
2,78012267,48.729206,1.371985,"HOMMES TOUTES MAINS, JARDINAGE",Oui,Oui,Dispo le 25/01
3,818696864,48.744702,1.357921,"REPAS, AIDE MENAGERE, ACCOMPAGNEMENTS COURSES,...",Oui,Oui,Indispo tous les samedis et dimanche
4,746414886,48.769455,1.197644,"TOILETTE, REPAS, AIDE MENAGERE, ACCOMPAGNEMENT...",Oui,Oui,Indispo tous les mercredis + le 05/01
5,78005437,48.712418,1.356278,"AIDE MENAGERE, ADMINISTRATION, REPAS, TOILETTE...",Oui,Oui,Indispo tous les samedis et dimanche
6,213237245,48.763226,1.241120,"TOILETTE, REPAS, AIDE MENAGERE",Oui,Oui,"Indispo 01/01, 02/01, 03/01, 13/01, 14/01, 16/..."
7,813991780,48.692715,1.073195,"TOILETTE, REPAS, AIDE MENAGERE, ACCOMPAGNEMENT...",Oui,Oui,"Indispo tous les mercredis, vendredi, samedi, ..."
8,856089133,48.645418,1.523077,"ACCOMPAGNEMENTS COURSES PA, REPAS, TOILETTE, A...",Non,Non,"Indispo 05/01, 09/01, 11/01 + du 18/01 au 31/0..."
9,700168298,48.758099,1.210611,"TOILETTE, REPAS, AIDE MENAGERE, ACCOMPAGNEMENT...",Oui,Oui,"Dispo le 01/01, 30/01 et 31/01"
10,810259688,48.711115,1.356134,"TOILETTE, REPAS, AIDE MENAGERE, ACCOMPAGNEMENT...",Non,Non,"Indispo 05/01, 06/01, 07/01, 19/01, 20/01, 21/..."
11,78007018,48.689927,1.351054,"TOILETTE, REPAS, ADMINISTRATION",Oui,Oui,"Indispo 06/01, 13/01, 14/01, 20/01, 21/01, 31/01"
12,764144581,48.660381,1.500460,"TOILETTE, REPAS, AIDE MENAGERE, VIE SOCIALE",Oui,Oui,"Indispo 01/01, 10/01, 13/01, 14/01, 17/01, 24/..."
13,888888888,48.720926,1.379664,"TOILETTE, REPAS, AIDE MENAGERE, ACCOMPAGNEMENT...",NaN,NaN,"Dispo 02/01, 09/01, du 11/01 au 16/01 inclus, ..."
14,854577575,48.744702,1.357921,"TOILETTE, REPAS, AIDE MENAGERE, ACCOMPAGNEMENT...",Non,Non,"Indispo tous les lundis + 02/01, 03/01, 13/01,..."
15,480302361,48.730207,1.382705,"TOILETTE, REPAS, AIDE MENAGERE, VIE SOCIALE, G...",Oui,Oui,"Indispo 06/01, 07/01, 15/01, 20/01, 21/01, 22/..."
16,78007874,48.738934,1.380357,"AIDE MENAGERE, FEMME DE MENAGE",Oui,Oui,"Indispo tous les samedis et dimanche + 11/01, ..."
17,842621873,48.728863,1.379842,"TOILETTE, AIDE MENAGERE, VIE SOCIALE, REPAS",Oui,Oui,"Indispo tous les lundis + 06/01, 07/01, 09/01,..."
18,710283561,48.732559,1.374591,"TOILETTE, REPAS, AIDE MENAGERE, VIE SOCIALE",Oui,Oui,"Indispo 07/01, 08/01, 13/01, 14/01, 16/01, 23/..."
19,1452747150,48.843207,1.253172,FORMATION,Non,Non,"Dispo 09/01, 11/01"
20,162858075,48.722269,1.374648,"TOILETTE, REPAS, AIDE MENAGERE, VIE SOCIALE",Oui,Oui,"Indispo tous les vendredis + 06/01, 07/01, 20/..."
21,739888851,48.751860,1.303906,"AIDE MENAGERE, VIE SOCIALE",Oui,Oui,Dispo tous les mardis et jeudis + le 17/01
22,648993440,48.761382,1.241082,"TOILETTE, REPAS, AIDE MENAGERE",Oui,Oui,Indispo du 01/01 au 07/01 inclus + tous les je...
23,776399834,48.727221,1.341497,"TOILETTE, REPAS, VIE SOCIALE",Oui,Oui,"Dispo 03/01, 04/01, 05/01, 08/01, 11/01, 12/01..."

In [13]:
schedule

,ID Client,ID Intervenant,Date,Heure de début,Heure de fin,Prestation
0,559475456,162858075,2024-01-01,07:15:00,07:45:00,REPAS
1,559277088,162858075,2024-01-01,07:45:00,08:30:00,TOILETTE
2,87852633,78007018,2024-01-01,07:45:00,08:30:00,TOILETTE
3,243033408,810259688,2024-01-01,07:45:00,08:15:00,TOILETTE
4,814940942,710283561,2024-01-01,07:45:00,09:20:00,TOILETTE
...,...,...,...,...,...,...
2865,559277088,710283561,2024-01-31,19:00:00,19:15:00,REPAS
2866,714782168,810259688,2024-01-31,19:00:00,20:00:00,REPAS
2867,559475456,710283561,2024-01-31,19:15:00,20:00:00,TOILETTE
2868,803656603,854577575,2024-01-31,19:20:00,19:50:00,TOILETTE
2869,315244686,854577575,2024-01-31,20:00:00,20:30:00,TOILETTE

In [14]:
# Import pyomo libraries
import pyomo.environ as pe
import pyomo.gdp as pyogdp

from itertools import product

In [25]:
test = sched_one_day["Heure de début"].iloc[0] - pd.to_datetime("2024-01-03 00:00:00")

test.seconds // 60

450

In [48]:
class CareScheduler:
    def __init__(self, excel_file):
        """
        Read cargiver and session data into Pandas DataFrames
        Args:
            excel_file (str): path to data in excel format
        """
        try:
            clients = pd.read_excel(excel_file, sheet_name=1)
            sessions = pd.read_excel(excel_file, sheet_name=0)

            # NOTE: remove later
            sessions = sessions.loc[sessions.Date == "2024-01-03", :]
            sessions["idx"] = sessions.index

            # create duration
            common_date = sessions["Date"].iloc[0]
            sessions["Heure de fin"] = sessions["Heure de fin"].apply(
                lambda x: datetime.combine(common_date, x)
            )
            sessions["Heure de début"] = sessions["Heure de début"].apply(
                lambda x: datetime.combine(common_date, x)
            )
            sessions["Duration"] = (
                sessions["Heure de fin"] - sessions["Heure de début"]
            )
            sessions["Duration"] = sessions["Duration"].apply(
                lambda x: x.seconds // 60
            )

            sessions["Start_time"] = (
                sessions["Heure de début"] - pd.to_datetime("2024-01-03 00:00:00")
            )
            sessions["Start_time"] = sessions["Start_time"].apply(
                lambda x: x.seconds // 60
            )

            # discard
            discard_list = [
                "ADMINISTRATION",
                "VISITE MEDICALE",
                "FORMATION",
                "COORDINATION",
                "HOMMES TOUTES MAINS",
            ]
            sessions = sessions[~sessions.Prestation.isin(discard_list)]

            sessions = sessions.merge(clients, how="left", on="ID Client")
            sessions = sessions.drop(columns="ID Intervenant")
            self.df_sessions = sessions
        except FileNotFoundError:
            print("Session data not found.")

        try:
            self.df_cargeivers = pd.read_excel(excel_file, sheet_name=2)
        except FileNotFoundError:
            print("Caregiver data not found")

        self.model = self.create_model()

    def _generate_case_durations(self):
        """
        Generate mapping of cases IDs to case time for the procedure
        Returns:
            (dict): dictionary with CaseID as key and median case time (mins) for procedure as value
        """
        return pd.Series(
            self.df_sessions["Duration"].values, index=self.df_sessions["idx"]
        ).to_dict()
    
    def _generate_start_time(self, tasks):
        tasks_df = pd.DataFrame(tasks , columns=["idx", "Cargegiver_ID"])

        temp = pd.DataFrame(
            self.df_sessions["Start_time"].values, index=self.df_sessions["idx"], columns=["Start_time"]
        )# .to_dict()

        temp = tasks_df.merge(temp, how="left", right_index=True, left_on="idx")
        
        arrays = [
            temp["idx"].to_list(),
            temp["Cargegiver_ID"].to_list(),
        ]
        tuples = list(zip(*arrays))

        index = pd.MultiIndex.from_tuples(tuples, names=["idx", "Cargegiver_ID"])
        temp = pd.Series(temp["Start_time"].values, index=index)

        return temp.to_dict()

    def _generate_disjunctions(self):
        """Returns:
        disjunctions (list): list of tuples containing disjunctions
        """
        cases = self.df_sessions["idx"].to_list()
        cargivers = self.df_cargeivers["ID Intervenant"].to_list()
        disjunctions = []
        for (case1, case2, cargiver) in product(cases, cases, cargivers):
            if (case1 != case2) and (
                case2,
                case1,
                cargiver,
            ) not in disjunctions:
                disjunctions.append((case1, case2, cargiver))

        return disjunctions

    def create_model(self):
        model = pe.ConcreteModel()

        # List of case IDs in home care client needs list
        model.CASES = pe.Set(initialize=self.df_sessions["idx"].tolist())
        # List of potential caregiver IDs
        model.CAREGIVERS = pe.Set(
            initialize=self.df_cargeivers["ID Intervenant"].tolist()
        )
        # List of tasks - all possible (caseID, caregiverID) combination
        model.TASKS = pe.Set(
            initialize=model.CASES * model.CAREGIVERS, dimen=2
        )
        # The duration (expected case time) for each operation
        model.CASE_DURATION = pe.Param(
            model.CASES, initialize=self._generate_case_durations()
        )
        # Start time of a case
        model.CASE_START_TIME = pe.Param(
            model.TASKS, initialize=self._generate_start_time(model.TASKS)
        )

        # Decision Variables
        ub = 1440  # minutes in a day
        model.M = pe.Param(initialize=1e3 * ub)  # big M
        # max_util = 0.85

        # Binary flag, 1 if case is assigned to session, 0 otherwise
        model.SESSION_ASSIGNED = pe.Var(model.TASKS, domain=pe.Binary)
        # Downtime of a caregiver caregiver
        model.DOWN_TIME = pe.Var(
            model.CAREGIVERS, bounds=(0, ub), within=pe.PositiveIntegers
        )
        # Session utilisation
        # model.UTILISATION = pe.Var(model.CAREGIVERS, bounds=(0, max_util), within=pe.PositiveReals)


        model.DISJUNCTIONS = pe.Set(initialize=self._generate_disjunctions(), dimen=3)

        # Objective
        def objective_function(model):
            return pe.summation(model.DOWN_TIME)
            # return sum([model.SESSION_ASSIGNED[case, session] for case in model.CASES for session in model.CAREGIVERS])
            # return min(model.UTILISATION.extract_values().values())

        model.OBJECTIVE = pe.Objective(
            rule=objective_function, sense=pe.minimize
        )

        # Constraints
        # TODO: get minimum working hours
        # Case start time must be after 8 AM
        # def case_start_time(model, case, session):
        #     return model.CASE_START_TIME[case, session] >= self.df_sessions["Heure de début"].min()
        # model.CASE_START = pe.Constraint(model.TASKS, rule=case_start_time)

        # TODO: create maximum working hours
        # # Case end time must be before general working hours 22 PM
        # def case_end_time(model, case, session):
        #     return model.CASE_START_TIME[case, session] + model.CASE_DURATION[case] <= self.df_sessions["Heure de fin"].max()
        # model.CASE_END_TIME = pe.Constraint(model.TASKS, rule=case_end_time)

        # Cases can be assigned to a maximum of one caregiver
        def session_assignment(model, case):
            return (
                sum(
                    [
                        model.SESSION_ASSIGNED[(case, session)]
                        for session in model.CAREGIVERS
                    ]
                )
                <= 1
            )

        model.SESSION_ASSIGNMENT = pe.Constraint(
            model.CASES, rule=session_assignment
        )

        # Constraint 6: Utilisation is defined as fraction of a theatre session taken up by cases
        def theatre_util(model, session):
            return model.DOWN_TIME[session] == 1440 - sum([model.SESSION_ASSIGNED[case, session]*model.CASE_DURATION[case] for case in model.CASES])
        model.THEATRE_UTIL = pe.Constraint(model.CAREGIVERS, rule=theatre_util)

        # TODO: -> question 3 if someone has no work
        # def compare_utils(model, caregiver):
        #     return model.UTILISATION[caregiver] >= 0.13
        # model.ALL_MIN = pe.Constraint(model.CAREGIVERS, rule=compare_utils)


        # TODO: create bounding box deadlines
        # Constraint 4: Cases must be completed before their target deadline
        # def set_deadline_condition(model, case, session):
        #     return model.SESSION_DATES[session] <= model.CASE_DEADLINES[case] + ((1 - model.SESSION_ASSIGNED[case, session])*model.M)
        # model.APPLY_DEADLINE = pe.Constraint(model.TASKS, rule=set_deadline_condition)

        # Constraint 5: No two cases can overlap
        def no_case_overlap(model, case1, case2, caregiver):
            return [model.CASE_START_TIME[case1, caregiver] + model.CASE_DURATION[case1] <= model.CASE_START_TIME[case2, caregiver] + \
                    ((2 - model.SESSION_ASSIGNED[case1, caregiver] - model.SESSION_ASSIGNED[case2, caregiver])*model.M),
                    model.CASE_START_TIME[case2, caregiver] + model.CASE_DURATION[case2] <= model.CASE_START_TIME[case1, caregiver] + \
                    ((2 - model.SESSION_ASSIGNED[case1, caregiver] - model.SESSION_ASSIGNED[case2, caregiver])*model.M)]
        model.DISJUNCTIONS_RULE = pyogdp.Disjunction(model.DISJUNCTIONS, rule=no_case_overlap)

        pe.TransformationFactory("gdp.bigm").apply_to(model)

        return model

    def solve(self):
        # Create solver (synchronous solve)
        solver = pe.SolverFactory("cbc", executable="/opt/homebrew/bin/cbc")

        # Add solver parameters (time limit)
        options = {"seconds": 60}
        for key, value in options.items():
            solver.options[key] = value

        # Solve model (verbose)
        solver_results = solver.solve(self.model, tee=True)
        return solver_results

In [34]:
min(scheduler.model.UTILISATION.extract_values().values()) # .display()

NameError: name 'scheduler' is not defined

In [49]:
scheduler = CareScheduler(excel_file)

In [50]:
solver_results = scheduler.solve()

Welcome to the CBC MILP Solver
Version: 2.10.11
Build Date: Oct 25 2023

command line - /opt/homebrew/bin/cbc -seconds 60 -printingOptions all -import /var/folders/y_/2nw1qxt94ydbkmv5qzg8p4080000gn/T/tmp5z1_lapv.pyomo.lp -stat=1 -solve -solu /var/folders/y_/2nw1qxt94ydbkmv5qzg8p4080000gn/T/tmp5z1_lapv.pyomo.soln (default strategy 1)
seconds was changed from 1e+100 to 60
Option for printingOptions changed from normal to all
Presolve 24159 (-245304) rows, 14136 (-167544) columns and 76344 (-644352) elements
Statistics for presolved model
Original problem has 181680 integers (181656 of which binary)
Presolved problem has 14136 integers (14112 of which binary)
==== 14112 zero objective 2 different
14112 variables have objective of 0
24 variables have objective of 1
==== absolute objective values 2 different
14112 variables have objective of 0
24 variables have objective of 1
==== for integers 14112 zero objective 2 different
14112 variables have objective of 0
24 variables have objective of 1
==== for integers absolute objective values 2 different
14112 variables have objective of 0
24 variables have objective of 1
===== end objective counts


Problem has 24159 rows, 14136 columns (24 with objective) and 76344 elements
There are 24 singletons with objective
Column breakdown:
0 of type 0.0->inf, 0 of type 0.0->up, 0 of type lo->inf,
24 of type lo->up, 0 of type free, 0 of type fixed,
0 of type -inf->0.0, 0 of type -inf->up, 14112 of type 0.0->1.0
Row breakdown:
0 of type E 0.0, 0 of type E 1.0, 0 of type E -1.0,
24 of type E other, 0 of type G 0.0, 0 of type G 1.0,
24048 of type G other, 0 of type L 0.0, 87 of type L 1.0,
0 of type L other, 0 of type Range 0.0->1.0, 0 of type Range other,
0 of type Free
Continuous objective value is 29825 - 0.21 seconds
Cgl0003I 0 fixed, 0 tightened bounds, 3792 strengthened rows, 0 substitutions
Cgl0003I 0 fixed, 0 tightened bounds, 5184 strengthened rows, 0 substitutions
Cgl0003I 0 fixed, 0 tightened bounds, 5184 strengthened rows, 0 substitutions
Cgl0003I 0 fixed, 0 tightened bounds, 5184 strengthened rows, 0 substitutions
Cgl0003I 0 fixed, 0 tightened bounds, 5712 strengthened rows, 0 substitutions
Cgl0003I 0 fixed, 0 tightened bounds, 5712 strengthened rows, 0 substitutions
Cgl0003I 0 fixed, 0 tightened bounds, 5952 strengthened rows, 0 substitutions
Cgl0003I 0 fixed, 0 tightened bounds, 6288 strengthened rows, 0 substitutions
Cgl0003I 0 fixed, 0 tightened bounds, 6774 strengthened rows, 0 substitutions
Cgl0004I processed model has 24159 rows, 14136 columns (14136 integer (14112 of which binary)) and 126126 elements
Cutoff increment increased from 1e-05 to 0.9999
Cbc0045I 24 integer variables out of 14136 objects (14136 integer) have cost of 1 - high priority
Cbc0045I branch on satisfied N create fake objective N random cost N
Cbc0038I Initial state - 109 integers unsatisfied sum - 2.16455
Cbc0038I Pass   1: (3.75 seconds) suminf.    0.24290 (58) obj. 29856.1 iterations 120
Cbc0038I Pass   2: (3.76 seconds) suminf.    0.14002 (58) obj. 30005.1 iterations 1
Cbc0038I Pass   3: (3.76 seconds) suminf.    0.14002 (58) obj. 30005.1 iterations 0
Cbc0038I Pass   4: (3.77 seconds) suminf.    0.12362 (76) obj. 30065.1 iterations 269
Cbc0038I Pass   5: (3.78 seconds) suminf.    0.13993 (54) obj. 30065.1 iterations 41
Cbc0038I Pass   6: (3.78 seconds) suminf.    0.13993 (54) obj. 30065.1 iterations 0
Cbc0038I Pass   7: (3.79 seconds) suminf.    0.12916 (67) obj. 30125.1 iterations 285
Cbc0038I Pass   8: (3.80 seconds) suminf.    0.11902 (46) obj. 30125.1 iterations 49
Cbc0038I Pass   9: (3.81 seconds) suminf.    0.11902 (46) obj. 30125.1 iterations 0
Cbc0038I Pass  10: (3.82 seconds) suminf.    0.11191 (55) obj. 29915.1 iterations 289
Cbc0038I Pass  11: (3.83 seconds) suminf.    0.09494 (39) obj. 29915.1 iterations 31
Cbc0038I Pass  12: (3.83 seconds) suminf.    0.09494 (39) obj. 29915.1 iterations 0
Cbc0038I Pass  13: (3.84 seconds) suminf.    0.10486 (58) obj. 29885.1 iterations 283
Cbc0038I Pass  14: (3.85 seconds) suminf.    0.11642 (41) obj. 29885.1 iterations 28
Cbc0038I Pass  15: (3.85 seconds) suminf.    0.11642 (41) obj. 29885.1 iterations 0
Cbc0038I Pass  16: (3.86 seconds) suminf.    0.12963 (54) obj. 29945.1 iterations 239
Cbc0038I Pass  17: (3.87 seconds) suminf.    0.11044 (38) obj. 29945.1 iterations 27
Cbc0038I Pass  18: (3.87 seconds) suminf.    0.11044 (38) obj. 29945.1 iterations 0
Cbc0038I Pass  19: (3.88 seconds) suminf.    0.11400 (49) obj. 29975.1 iterations 255
Cbc0038I Pass  20: (3.89 seconds) suminf.    0.11031 (37) obj. 29975.1 iterations 27
Cbc0038I Pass  21: (3.89 seconds) suminf.    0.11031 (37) obj. 29975.1 iterations 0
Cbc0038I Pass  22: (3.90 seconds) suminf.    0.12633 (50) obj. 30020.1 iterations 254
Cbc0038I Pass  23: (3.91 seconds) suminf.    0.10671 (38) obj. 30020.1 iterations 24
Cbc0038I Pass  24: (3.92 seconds) suminf.    0.10671 (38) obj. 30020.1 iterations 0
Cbc0038I Pass  25: (3.93 seconds) suminf.    0.10852 (44) obj. 30095.1 iterations 271
Cbc0038I Pass  26: (3.94 seconds) suminf.    0.09864 (34) obj. 30095.1 iterations 35
Cbc0038I Pass  27: (3.94 seconds) suminf.    0.09864 (34) obj. 30095.1 iterations 0
Cbc0038I Pass  28: (3.95 seconds) suminf.    0.09062 (37) obj. 30125.1 iterations 271
Cbc0038I Pass  29: (3.96 seconds) suminf.    0.07780 (29) obj. 30125.1 iterations 41
Cbc0038I Pass  30: (3.96 seconds) suminf.    0.07780 (29) obj. 30125.1 iterations 0
Cbc0038I No solution found this major pass
Cbc0038I Before mini branch and bound, 11976 integers at bound fixed and 0 continuous
Cbc0038I Full problem 24159 rows 14136 columns, reduced to 676 rows 345 columns
Cbc0038I Mini branch and bound improved solution from 1.79769e+308 to 30065 (4.12 seconds)
Cbc0038I Round again with cutoff of 30040.1
Cbc0038I Pass  30: (4.13 seconds) suminf.    0.24290 (58) obj. 29856.1 iterations 0
Cbc0038I Pass  31: (4.14 seconds) suminf.    0.14002 (58) obj. 30005.1 iterations 5
Cbc0038I Pass  32: (4.14 seconds) suminf.    0.14002 (58) obj. 30005.1 iterations 0
Cbc0038I Pass  33: (4.15 seconds) suminf.    0.13986 (84) obj. 30005.1 iterations 273
Cbc0038I Pass  34: (4.16 seconds) suminf.    0.13089 (59) obj. 30005.1 iterations 55
Cbc0038I Pass  35: (4.16 seconds) suminf.    0.13089 (59) obj. 30005.1 iterations 0
Cbc0038I Pass  36: (4.17 seconds) suminf.    0.11573 (50) obj. 29915.1 iterations 294
Cbc0038I Pass  37: (4.18 seconds) suminf.    0.10707 (40) obj. 29915.1 iterations 48
Cbc0038I Pass  38: (4.19 seconds) suminf.    0.10707 (40) obj. 29915.1 iterations 0
Cbc0038I Pass  39: (4.20 seconds) suminf.    0.14991 (46) obj. 29945.1 iterations 273
Cbc0038I Pass  40: (4.21 seconds) suminf.    0.09017 (36) obj. 29945.1 iterations 42
Cbc0038I Pass  41: (4.21 seconds) suminf.    0.09017 (36) obj. 29945.1 iterations 0
Cbc0038I Pass  42: (4.22 seconds) suminf.    0.13921 (50) obj. 29945 iterations 297
Cbc0038I Pass  43: (4.23 seconds) suminf.    0.09679 (35) obj. 29945.1 iterations 48
Cbc0038I Pass  44: (4.23 seconds) suminf.    0.09679 (35) obj. 29945.1 iterations 0
Cbc0038I Pass  45: (4.24 seconds) suminf.    0.09461 (51) obj. 29975.1 iterations 271
Cbc0038I Pass  46: (4.25 seconds) suminf.    0.09604 (39) obj. 29975.1 iterations 36
Cbc0038I Pass  47: (4.25 seconds) suminf.    0.09604 (39) obj. 29975.1 iterations 0
Cbc0038I Pass  48: (4.26 seconds) suminf.    0.48342 (49) obj. 30040.1 iterations 253
Cbc0038I Pass  49: (4.27 seconds) suminf.    0.51229 (47) obj. 30040.1 iterations 21
Cbc0038I Pass  50: (4.28 seconds) suminf.    0.10084 (34) obj. 29975.1 iterations 24
Cbc0038I Pass  51: (4.29 seconds) suminf.    0.10084 (34) obj. 29975.1 iterations 0
Cbc0038I Pass  52: (4.30 seconds) suminf.    0.06877 (46) obj. 29945 iterations 248
Cbc0038I Pass  53: (4.30 seconds) suminf.    0.05599 (31) obj. 29945.1 iterations 34
Cbc0038I Pass  54: (4.31 seconds) suminf.    0.05599 (31) obj. 29945.1 iterations 0
Cbc0038I Pass  55: (4.32 seconds) suminf.    0.05835 (40) obj. 29915 iterations 267
Cbc0038I Pass  56: (4.33 seconds) suminf.    0.05477 (28) obj. 29915.1 iterations 35
Cbc0038I Pass  57: (4.33 seconds) suminf.    0.05477 (28) obj. 29915.1 iterations 0
Cbc0038I Pass  58: (4.34 seconds) suminf.    0.07809 (31) obj. 29870 iterations 280
Cbc0038I Pass  59: (4.35 seconds) suminf.    0.04545 (21) obj. 29870 iterations 52
Cbc0038I No solution found this major pass
Cbc0038I Before mini branch and bound, 11976 integers at bound fixed and 0 continuous
Cbc0038I Full problem 24159 rows 14136 columns, reduced to 846 rows 394 columns
Cbc0038I Mini branch and bound did not improve solution (4.51 seconds)
Cbc0038I After 4.51 seconds - Feasibility pump exiting with objective of 30065 - took 0.78 seconds
Cbc0012I Integer solution of 30065 found by feasibility pump after 0 iterations and 0 nodes (4.51 seconds)
Cbc0038I Full problem 24159 rows 14136 columns, reduced to 213 rows 85 columns
Cbc0031I 98 added rows had average density of 4.1530612
Cbc0013I At root node, 98 cuts changed objective from 29825 to 29825 in 10 passes
Cbc0014I Cut generator 0 (Probing) - 955 row cuts average 4.2 elements, 0 column cuts (42 active)  in 0.193 seconds - new frequency is 1
Cbc0014I Cut generator 1 (Gomory) - 101 row cuts average 42.2 elements, 0 column cuts (0 active)  in 0.120 seconds - new frequency is 1
Cbc0014I Cut generator 2 (Knapsack) - 221 row cuts average 3.1 elements, 0 column cuts (0 active)  in 0.013 seconds - new frequency is 1
Cbc0014I Cut generator 3 (Clique) - 0 row cuts average 0.0 elements, 0 column cuts (0 active)  in 0.002 seconds - new frequency is -100
Cbc0014I Cut generator 4 (MixedIntegerRounding2) - 1 row cuts average 9.0 elements, 0 column cuts (0 active)  in 0.055 seconds - new frequency is -100
Cbc0014I Cut generator 5 (FlowCover) - 1 row cuts average 13.0 elements, 0 column cuts (0 active)  in 0.007 seconds - new frequency is -100
Cbc0014I Cut generator 6 (TwoMirCuts) - 55 row cuts average 29.0 elements, 0 column cuts (0 active)  in 0.121 seconds - new frequency is -100
Cbc0014I Cut generator 7 (ZeroHalf) - 19 row cuts average 27.5 elements, 0 column cuts (0 active)  in 2.898 seconds - new frequency is -100
Cbc0010I After 0 nodes, 1 on tree, 30065 best solution, best possible 29825 (8.21 seconds)
Cbc0038I Full problem 24159 rows 14136 columns, reduced to 424 rows 139 columns
Cbc0012I Integer solution of 29945 found by RINS after 2011 iterations and 41 nodes (10.60 seconds)
Cbc0038I Full problem 24159 rows 14136 columns, reduced to 326 rows 140 columns
Cbc0010I After 100 nodes, 63 on tree, 29945 best solution, best possible 29825 (12.78 seconds)
Cbc0038I Full problem 24159 rows 14136 columns, reduced to 212 rows 129 columns
Cbc0010I After 200 nodes, 115 on tree, 29945 best solution, best possible 29825 (16.90 seconds)
Cbc0038I Full problem 24159 rows 14136 columns, reduced to 299 rows 149 columns
Cbc0010I After 300 nodes, 163 on tree, 29945 best solution, best possible 29825 (21.30 seconds)
Cbc0038I Full problem 24159 rows 14136 columns, reduced to 125 rows 82 columns
Cbc0012I Integer solution of 29915 found by RINS after 42613 iterations and 400 nodes (25.68 seconds)
Cbc0010I After 400 nodes, 210 on tree, 29915 best solution, best possible 29825 (25.68 seconds)
Cbc0038I Full problem 24159 rows 14136 columns, reduced to 218 rows 115 columns
Cbc0012I Integer solution of 29825 found by RINS after 53280 iterations and 500 nodes (29.24 seconds)
Cbc0001I Search completed - best objective 29825, took 53280 iterations and 500 nodes (29.25 seconds)
Cbc0032I Strong branching done 1460 times (53940 iterations), fathomed 0 nodes and fixed 1 variables
Cbc0035I Maximum depth 81, 0 variables fixed on reduced cost
Cuts at root node changed objective from 29825 to 29825
Probing was tried 192 times and created 8469 cuts of which 42 were active after adding rounds of cuts (0.586 seconds)
Gomory was tried 192 times and created 402 cuts of which 0 were active after adding rounds of cuts (0.929 seconds)
Knapsack was tried 192 times and created 2173 cuts of which 0 were active after adding rounds of cuts (0.242 seconds)
Clique was tried 10 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.002 seconds)
MixedIntegerRounding2 was tried 10 times and created 1 cuts of which 0 were active after adding rounds of cuts (0.055 seconds)
FlowCover was tried 10 times and created 1 cuts of which 0 were active after adding rounds of cuts (0.007 seconds)
TwoMirCuts was tried 10 times and created 55 cuts of which 0 were active after adding rounds of cuts (0.121 seconds)
ZeroHalf was tried 10 times and created 19 cuts of which 0 were active after adding rounds of cuts (2.898 seconds)

Result - Optimal solution found

Objective value:                29825.00000000
Enumerated nodes:               500
Total iterations:               53280
Time (CPU seconds):             29.47
Time (Wallclock seconds):       31.62

Total time (CPU seconds):       30.22   (Wallclock seconds):       32.51

In [51]:
model = scheduler.model

In [56]:
model.DOWN_TIME.display() # .extract_values()

DOWN_TIME : Size=24, Index=CAREGIVERS
    Key        : Lower : Value  : Upper : Fixed : Stale : Domain
      78005437 :     1 : 1260.0 :  1440 : False : False : PositiveIntegers
      78007018 :     1 : 1395.0 :  1440 : False : False : PositiveIntegers
      78007874 :     1 : 1200.0 :  1440 : False : False : PositiveIntegers
      78012267 :     1 : 1110.0 :  1440 : False : False : PositiveIntegers
     162858075 :     1 : 1380.0 :  1440 : False : False : PositiveIntegers
     213237245 :     1 : 1335.0 :  1440 : False : False : PositiveIntegers
     480302361 :     1 : 1185.0 :  1440 : False : False : PositiveIntegers
     609468992 :     1 :  960.0 :  1440 : False : False : PositiveIntegers
     648993440 :     1 : 1320.0 :  1440 : False : False : PositiveIntegers
     700168298 :     1 : 1305.0 :  1440 : False : False : PositiveIntegers
     710283561 :     1 : 1320.0 :  1440 : False : False : PositiveIntegers
     739888851 :     1 : 1155.0 :  1440 : False : False : PositiveIntegers
     746414886 :     1 : 1125.0 :  1440 : False : False : PositiveIntegers
     764144581 :     1 : 1200.0 :  1440 : False : False : PositiveIntegers
     776399834 :     1 : 1350.0 :  1440 : False : False : PositiveIntegers
     810259688 :     1 : 1410.0 :  1440 : False : False : PositiveIntegers
     813991780 :     1 : 1335.0 :  1440 : False : False : PositiveIntegers
     818696864 :     1 : 1200.0 :  1440 : False : False : PositiveIntegers
     838320706 :     1 :  945.0 :  1440 : False : False : PositiveIntegers
     842621873 :     1 : 1295.0 :  1440 : False : False : PositiveIntegers
     854577575 :     1 : 1380.0 :  1440 : False : False : PositiveIntegers
     856089133 :     1 : 1095.0 :  1440 : False : False : PositiveIntegers
     888888888 :     1 : 1365.0 :  1440 : False : False : PositiveIntegers
    1452747150 :     1 : 1200.0 :  1440 : False : False : PositiveIntegers

In [52]:
actions = [ k for k, v in model.SESSION_ASSIGNED.extract_values().items() if v == 1 ]

In [53]:
actions[0]

(177, 838320706)

In [54]:
actions_df = pd.DataFrame(actions, columns=["idx", "Cargegiver_ID"])

In [55]:
temp = scheduler.df_sessions.copy()
temp.merge(actions_df, how="left", on="idx")

,ID Client,Date,Heure de début,Heure de fin,Prestation,idx,Duration,Start_time,Latitude,Longitude,Cargegiver_ID
0,522099746,2024-01-03,2024-01-03 07:30:00,2024-01-03 08:30:00,TOILETTE,177,60,450,48.729059,1.374504,838320706
1,87852633,2024-01-03,2024-01-03 07:30:00,2024-01-03 08:15:00,TOILETTE,178,45,450,48.691944,1.498773,78012267
2,559277088,2024-01-03,2024-01-03 07:45:00,2024-01-03 08:15:00,TOILETTE,179,30,465,48.721052,1.375689,746414886
3,315244686,2024-01-03,2024-01-03 08:00:00,2024-01-03 08:45:00,TOILETTE,180,45,480,48.732218,1.363744,480302361
4,714782168,2024-01-03,2024-01-03 08:00:00,2024-01-03 09:00:00,TOILETTE,181,60,480,48.740158,1.369426,609468992
...,...,...,...,...,...,...,...,...,...,...,...
82,794098228,2024-01-03,2024-01-03 18:55:00,2024-01-03 19:55:00,REPAS,262,60,1135,48.764898,1.203185,609468992
83,559475456,2024-01-03,2024-01-03 18:55:00,2024-01-03 19:40:00,TOILETTE,263,45,1135,48.721052,1.375689,710283561
84,714782168,2024-01-03,2024-01-03 18:55:00,2024-01-03 19:55:00,REPAS,264,60,1135,48.740158,1.369426,856089133
85,803656603,2024-01-03,2024-01-03 19:50:00,2024-01-03 20:20:00,TOILETTE,265,30,1190,48.723600,1.382000,78012267
86,315244686,2024-01-03,2024-01-03 20:35:00,2024-01-03 21:05:00,TOILETTE,266,30,1235,48.732218,1.363744,856089133

In [46]:
# model.pprint()
# model.x.pprint()