In [1]:
import pandas as pd
import plotly.express as px

In [2]:
# Load data
file_path = "../data/ChallengeXHEC23022024.xlsx"
excel_data = pd.ExcelFile(file_path)


jan24_df = pd.read_excel(excel_data, sheet_name="JAN24")
clients_df = pd.read_excel(excel_data, sheet_name="clients")
intervenants_df = pd.read_excel(excel_data, sheet_name="intervenants")

In [3]:
# Analyze start/end times for each type of service
jan24_df["Heure de début"] = pd.to_datetime(
    jan24_df["Heure de début"], format="%H:%M:%S"
).dt.time
jan24_df["Heure de fin"] = pd.to_datetime(
    jan24_df["Heure de fin"], format="%H:%M:%S"
).dt.time
service_constraints = jan24_df.groupby("Prestation").agg(
    {"Heure de début": ["min", "max"], "Heure de fin": ["min", "max"]}
)
service_constraints.columns = [
    "Start Time Earliest",
    "Start Time Latest",
    "End Time Earliest",
    "End Time Latest",
]
service_constraints.reset_index(inplace=True)


print(service_constraints)

                    Prestation Start Time Earliest Start Time Latest  \
0   ACCOMPAGNEMENTS COURSES PA            08:45:00          17:30:00
1               ADMINISTRATION            07:30:00          14:30:00
2                AIDE MENAGERE            08:00:00          18:15:00
3                 COORDINATION            08:30:00          17:40:00
4              FEMME DE MENAGE            09:00:00          09:00:00
5                    FORMATION            08:30:00          19:30:00
6              GARDE D'ENFANTS            12:00:00          18:20:00
7          HOMMES TOUTES MAINS            10:00:00          13:00:00
8                        REPAS            07:00:00          19:45:00
9                     TOILETTE            07:00:00          20:55:00
10                 VIE SOCIALE            09:00:00          17:40:00
11             VISITE MEDICALE            10:20:00          10:20:00

   End Time Earliest End Time Latest
0           10:00:00        18:00:00
1           11:45:00        18:00:00
2           09:00:00        19:30:00
3           09:50:00        18:10:00
4           12:00:00        12:00:00
5           09:30:00        20:00:00
6           16:30:00        20:20:00
7           11:00:00        14:00:00
8           07:30:00        20:20:00
9           07:45:00        21:30:00
10          11:00:00        18:00:00
11          11:20:00        11:20:00

In [7]:
prestation_segmented_data = {prestation: group for prestation, group in jan24_df.groupby('Prestation')}


toilette_data = prestation_segmented_data['TOILETTE']  # Replace 'TOILETTE' with the desired service segmented data

In [4]:
# Segment clients according to their needs
client_needs = (
    jan24_df.groupby(["ID Client", "Prestation"]).size().unstack(fill_value=0)
)

print(client_needs)

Prestation  ACCOMPAGNEMENTS COURSES PA  ADMINISTRATION  AIDE MENAGERE  \
ID Client
78690893                             0               0             28
78691334                             4               0             13
78691389                             0               0              5
78691461                             0               0              4
78692265                             2               0              5
...                                ...             ...            ...
1452740690                           1               0              0
1452763176                           0               0              3
1452775101                           0               0              0
1452858131                           0               0              0
1453084257                           0               0              2

Prestation  COORDINATION  FEMME DE MENAGE  FORMATION  GARDE D'ENFANTS  \
ID Client
78690893               0                0          0                0
78691334               0                0          0                0
78691389               0                0          0                0
78691461               0                0          0                0
78692265               0                0          0                0
...                  ...              ...        ...              ...
1452740690             0                0          0                0
1452763176             0                0          0                0
1452775101             0                0          0                0
1452858131             0                0          0                0
1453084257             0                0          0                0

Prestation  HOMMES TOUTES MAINS  REPAS  TOILETTE  VIE SOCIALE  VISITE MEDICALE
ID Client
78690893                      0      0         0            0                0
78691334                      0      0         0            0                0
78691389                      0      0         0            0                0
78691461                      0     49         9            0                0
78692265                      0      0         0            0                0
...                         ...    ...       ...          ...              ...
1452740690                    0      0         0            0                0
1452763176                    0      0         0            0                0
1452775101                    0      0        17            0                0
1452858131                    0      0         3            0                0
1453084257                    0      0         0            0                0

[118 rows x 12 columns]

In [5]:
# Segment days according to the services offered
jan24_df["Day of Week"] = jan24_df["Date"].dt.dayofweek
jan24_df["Day Type"] = jan24_df["Day of Week"].apply(
    lambda x: "Weekend" if x > 4 else "Weekday"
)
day_segmentation = (
    jan24_df.groupby(["Day Type", "Prestation"]).size().unstack(fill_value=0)
)

day_segmentation.T

Day Type                    Weekday  Weekend
Prestation
ACCOMPAGNEMENTS COURSES PA       83        0
ADMINISTRATION                   79        0
AIDE MENAGERE                   435        8
COORDINATION                     10        0
FEMME DE MENAGE                   4        0
FORMATION                        15        0
GARDE D'ENFANTS                  10        0
HOMMES TOUTES MAINS               2        0
REPAS                           696      214
TOILETTE                        938      279
VIE SOCIALE                      72       24
VISITE MEDICALE                   1        0

In [6]:
day_seg_inv = day_segmentation.T
print(
    "Weekday services: ", day_seg_inv[day_seg_inv.Weekday > 0].index.to_list()
)
print(
    "Weekend services: ", day_seg_inv[day_seg_inv.Weekend > 0].index.to_list()
)

Weekday services:  ['ACCOMPAGNEMENTS COURSES PA', 'ADMINISTRATION', 'AIDE MENAGERE', 'COORDINATION', 'FEMME DE MENAGE', 'FORMATION', "GARDE D'ENFANTS", 'HOMMES TOUTES MAINS', 'REPAS', 'TOILETTE', 'VIE SOCIALE', 'VISITE MEDICALE']
Weekend services:  ['AIDE MENAGERE', 'REPAS', 'TOILETTE', 'VIE SOCIALE']

# Plotting agenda of Caretakers

In [ ]:
jan24_df["Start DateTime"] = pd.to_datetime(
    jan24_df["Date"].astype(str) + " " + jan24_df["Heure de début"].astype(str)
)
jan24_df["End DateTime"] = pd.to_datetime(
    jan24_df["Date"].astype(str) + " " + jan24_df["Heure de fin"].astype(str)
)

In [ ]:
# TODO: add commute time & waittime
# TODO: add client id in hover description

In [ ]:
def plot_agenda_for_intervenant(intervenant_id):
    intervenant_agenda = jan24_df[jan24_df["ID Intervenant"] == intervenant_id]
    intervenant_agenda_sorted = intervenant_agenda.sort_values(
        by=["Date", "Heure de début"]
    )

    df_timeline = intervenant_agenda_sorted.copy()
    df_timeline["Start"] = pd.to_datetime(df_timeline["Start DateTime"])
    df_timeline["Finish"] = pd.to_datetime(df_timeline["End DateTime"])
    df_timeline["Task"] = df_timeline["Prestation"]
    df_timeline["Resource"] = df_timeline["ID Intervenant"].astype(str)

    fig = px.timeline(
        df_timeline,
        x_start="Start",
        x_end="Finish",
        y="Task",
        color="Resource",
    )
    fig.update_yaxes(autorange="reversed")
    fig.update_layout(title=f"Agenda for Intervenant ID: {intervenant_id}")

    fig.update_layout(
        xaxis=dict(
            rangeselector=dict(
                buttons=list(
                    [
                        dict(
                            count=1,
                            label="1D",
                            step="day",
                            stepmode="backward",
                        ),
                        dict(
                            count=7,
                            label="1W",
                            step="day",
                            stepmode="backward",
                        ),
                        dict(step="all"),
                    ]
                )
            ),
            rangeslider=dict(visible=True),
            type="date",
        )
    )

    fig.show()

In [ ]:
for intervenant_id in jan24_df["ID Intervenant"].unique():
    plot_agenda_for_intervenant(intervenant_id)